footer {
    background: #f5f5f5;

    .container {
        @include container;
        height: 45px;
        color: $gray;
        @include flex($align: center, $justify: space-between);

        .footer-nav {
            li {
                display: inline-block;
                font-size: 11px;

                &:not(:first-child) {
                    position: relative;
                    margin-left: 10px;

                    &::before {
                        position: absolute;
                        content: '.';
                        left: -8px;
                        top: -25%;
                    }
                }
            }
        }
    }
}