header {
    position: fixed;
    border-bottom: 1px solid rgba(151,151,151,0.5);
    top: 0;
    width: 100%;
    z-index: 1;
    background: #fff;
    color: $gray;

    .container {
        @include container(big);
        padding-top: 25px;

        .row:first-child {
            @include flex($align: flex-start);
            height: 33px;
            font-size: 22px;

            .logo {
                margin-right: 10px;
                padding-top: 4px;
                width: 74px;
            }

            .privacy-link {
                font-size: 22px;
            }
        }

        .row:last-child {
            @include flex($justify: space-between);
            padding-top: 20px;
            font-size: 15px;
            font-weight: 500;

            .nav-list {
                li {
                    display: inline-block;

                    .nav-list--button {
                        position: relative;
                        margin-right: 40px;
                        padding-bottom: 6px;
                    }

                    .active {
                        color: blue;

                        &::after {
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 3px;
                            left: 0;
                            bottom: 0;
                            background: blue;
                        }
                    }
                }
            }
        }
    }
}