main {
    padding-top: 109px;
    color: $gray;

    .container {
        @include container;

        .faq-list {
            margin-top: 100px;

            li {
                margin-bottom: 80px;

                .faq-list--title {
                    margin-bottom: 30px;
                }

                .faq-list--text--p {
                    margin-bottom: 40px;
                    line-height: 24px;
                    font-size: 14px;
                }
            }
        }
    }
}