* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}


/* UTILITIES */
.central {
    
}

.container-big {
    width: 1150px;
    max-width: 90%;
}

.container {
    width: 978px;
    max-width: 80%;
}